h1{
    color: var(--titulo);
    font-size: 80px;
    text-align: center;
    font-family: 'Calibri';
}
h2{
    text-align: center;
    font-size: 45px;
    font-family: 'Calibri';
}
h3{
    font-size: 40px;
    font-family: 'Calibri';
}
h4{
    font-size: 30px;
    font-family: 'Calibri';
}
p{
    font-size: 20px;
    font-family: 'Calibri';
}
#embaixo{
    text-align: center;
    font-size: 15px;
    color: white;
    font-family: 'Calibri';
}
#rodape{
    position: absolute;
    right: 0;
    width: 100%;
    height: 80px;
}
    
#imagem{
    height: 35px;
    margin: 10px;
    
}
main{
    justify-content: center;
    display: flex;
    flex-direction: row;
    margin: 30px;
}
header{
    text-align: center;
}
section{
    justify-content: center;
    width: 30%;
    height: 10%;
    margin: 15px;

}
#section3{
    background-color: var(--corperfil);
    text-align: center;
    border-radius: 10%;
}
#foto{
    text-align: center;
    border-radius: 100%;
    width: 50%;

}
#imagem:hover{
    cursor: pointer;
}

body{
    background-color: var(--cordefundo);
    color: var(--cortexto);
}

:root{
    --cordefundo: #1c1a1a;
    --cortexto: white;
    --titulo: #bd1806;
    --corperfil: #34baeb;
    --corrodape: white;
    --cortextorodape: black;
}

body.claro {
    --cordefundo: #ffffff;
    --cortexto: #000000;
    --titulo: #bd1806;
    --corperfil:rgb(184, 40, 176);
    --corrodape: #eeeeee;
    --cortextorodape: #000000;
}

#botaoTema {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    background-color: var(--corperfil);
    color: var(--cortexto);
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
}
